/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #000;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height:100%;
  margin:0px;
  padding:0px;
  text-transform:uppercase;
  width:100%;
}

/* iOS7 Status Bar Fix */
body.ios7 div[data-role='page']::before {
  content: '';
  display: block;
  background-color: #DADADA;
  height: 20px;
  width: 100%;
}

#main-menu {
  background-color: #000;
}

#main-menu > .header {
  height: 140pt;
  width: 100%;
  margin-bottom: 5pt;
}

body.ios7 #main-menu > .header {
  height: 124pt;
}

#header-cover {
  width: 100%;
  height: 100%;
  background-image: url(../img/cover@2x.JPG);
  display: block;
}

#login-btn {
  width: 20%;
  position: fixed;
  top: 0;
  right: 6pt;
  z-index: 100;
}

#login-btn.logined {
  width: 38%;
}

body.ios7 #login-btn {
  top: 20px;
}

#login .divider {
  display: block;
  height: 20pt;
}

/* 天氣框 */
#weather-box {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  width: 40%;
  top: 107px;
  left: 8px;
  color: #DDD;
}

body.ios7 #weather-box {
  top: 87px;
}

#weather-icon {
  width: 40%;
  float: left;
  height: 100%;
  font-size: 28pt;
  text-align: center;
  margin: 12px 0;
}

#weather-text {
  float: left;
  width: 52%;
  height: 100%;
  font-size: 10pt;
  padding-left: 8%;
}

/* 主頁面 */

#main-menu li {
  list-style: none;
}

#main-menu .tiles-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-menu .tile {
  color: #FFF;
  width: 20%;
  height: 46pt;
  text-align: center;
  padding: 2pt 1%;
  float: left;
}

#main-menu .tile.x2 {
  width: 43%;
  height: 74pt;
  padding: 18pt 2%;
}

#main-menu .tile > i {
  font-size: 26pt;
  margin-top: 4pt;
}

#main-menu .tile > span {
  font-size: 8pt;
  margin-top: 2pt;
}

#main-menu .tile.x2 > i {
  font-size: 48pt;
  margin-top: 4pt;
}

#main-menu .tile.x2 > span {
  font-size: 15pt;
  margin-top: 10pt;
}

#main-menu .tile:nth-child(odd) {
  margin: 0 1.75% 5pt 1%;
}

#main-menu .tile:nth-child(even) {
  margin: 0 1% 5pt 1.75%;
}

#main-menu .tile.x2:nth-child(odd) {
  margin: 0 1% 5pt 2%;
}

#main-menu .tile.x2:nth-child(even) {
  margin: 0 2% 5pt 1%;
}

#main-menu .left-margin-x2 {
  margin: 0 1% 5pt 2% !important;
}

#main-menu .right-margin-x2 {
  margin: 0 2% 5pt 1% !important;
}

#main-menu .tile > * {
  display: block;
}

#notification-category a.active {
  background-color: #d35400 !important;
}

/* 聊天 */
#message-sender {
  width: 94%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
}

#chat-window .footer {
  padding: 0 6%;
}

#chat-window .footer * {
  width: 90%;
}

#chat-messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

#chat-messages > li {
  list-style: none;
  margin-bottom: 4pt;
}

#chat-messages > li strong {
  text-decoration: underline;
  margin-right: 8pt; 
}

#chat-messages > li strong:after {
  content: ':';
  display: inline;
}

.green-tea {
  background-color: #16a085;
}
.belize-hole {
  background-color: #2980b9;
}
.pumpkin {
  background-color: #d35400;
}
.wisteria {
  background-color: #8e44ad;
}
.pomegranate {
  background-color: #c0392b;
}
.orange-juice {
  background-color: #FF9D37;
}
.deep-blue {
  background-color: #5755FF;
}
.blue {
  background-color: #1989FF;
}
.light-green {
  background-color: #00BE61;
}
.disabled {
  background-color: #AAA;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}