/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    #tiles-container {
        width: 100%;
        position: fixed;
        top: 130px;
        height: 250px;
    }
    #tiles-container > .tile {
        display: block;
        float: left;
        text-decoration: none;
        color: #FFF;
    }
    #tiles-container > .tile.half {
        width: 48%;
        height: 120px;
        margin: 1%;
    }
    #tiles-container > .tile.half > i {
        font-size: 4em;
        display: block;
        margin: 28px 0 14px 0;
    }
    #tiles-container > .tile.half > span {
        font-size: 1.4em;
    }

    #smalltiles-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 100px;
    }
    #smalltiles-container > .smalltiles {
        display: block;
        float: left;
        text-decoration: none;
        color: #FFF;
    }
    #smalltiles-container > .smalltiles.quater {
        width: 23%;
        height: 80px;
        margin: 1%;
    }
    #smalltiles-container > .smalltiles.quater > i {
        font-size: 4em;
        display: block;
        margin: 0px 0 4px 0;
    }
    #smalltiles-container > .smalltiles.quater > span {
        font-size: 1.4em;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}