/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (min-device-height : 480px) {
/* Styles */
    
    .app > header {

        height: 27%;
    }

    #weather {

        
        color: #FFF;
        position: absolute;
        bottom: 12px;
        left: 12px;
        
    }
    #weather-image {
        float: left;
        width: 30px;
        height: 30px;
        margin: 6px;
        background-image: url(http://placehold.it/30x30);
    }

    #tiles-container {
        width: 100%;
        position: fixed;
        top: 28%;
        height: 50%;
    }
    #tiles-container > .tile {
        display: block;
        float: left;
        text-decoration: none;
        color: #FFF;
    }
    #tiles-container > .tile.half {
        width: 48%;
        height: 53%;
        margin: 1%;
    }
    #tiles-container > .tile.half > i {
        font-size: 4em;
        display: block;
        
    }
    #tiles-container > .tile.half > span {
        font-size: 1.4em;
    }

    #smalltiles-container {
        width: 100%;
        position: fixed;
        top: 83%;
        height: 23%;
        padding-left: 1px;

    }
    #smalltiles-container > .smalltiles {
        display: block;
        float: left;
        text-decoration: none;
        color: #FFF;
        
    }
    #smalltiles-container > .smalltiles.quater {
        width: 23%;
        height: 66%;
        display: block;
    }
    #smalltiles-container > .smalltiles.quater > i {
        padding-top:10%;
        font-size: 3.5em;
        display: block;
        
    }
    #smalltiles-container > .smalltiles.quater > span {
        margin-top: -10%;
        font-size: 1.1em;
        display: block;
    }

}
/* iphone 4.0 size -----*/
@media only screen 
and (min-device-width : 320px) 
and (min-device-height : 568px) {

    .app > header {

        height: 30%;
    }

     #tiles-container {
        width: 100%;
        position: fixed;
        top: 30.5%;
        height: 50%;
    }
    #tiles-container > .tile {
        display: block;
        float: left;
        text-decoration: none;
        color: #FFF;
    }
    #tiles-container > .tile.half {
        width: 48%;
        height: 53%;
        margin: 1%;
    }
    #tiles-container > .tile.half > i {
        font-size: 4em;
        display: block;
        
    }
    #tiles-container > .tile.half > span {
        font-size: 1.4em;
    }

    #smalltiles-container {
    width: 100%;
    position: fixed;
    top: 85.5%;
    height: 20%;
    }
    #smalltiles-container > .smalltiles {
        display: block;
        float: left;
        text-decoration: none;
        color: #FFF;
    }
    #smalltiles-container > .smalltiles.quater {
        width: 23%;
        height: 66%;
    }
    #smalltiles-container > .smalltiles.quater > i {
        padding-top:10%;
        font-size: 3.5em;
        display: block;
        
    }
    #smalltiles-container > .smalltiles.quater > span {
        margin-top: -10%;
        font-size: 1.1em;
        display: block;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}